################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebGL2/.vs/WebGL2/FileContentIndex/6b90c687-6946-43c7-b689-a84129240685.vsidx
